# List

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are **Tuple**, **Set**, and **Dictionary**, all with different qualities and usage.

In [3]:
lst = ['husky','salchicha','maltes']
print(lst)

['husky', 'salchicha', 'maltes']

List item are **ordered, changable**, and **allow duplicate values.**

In [5]:
fruits = ['manzana','banana','piña','manzana']
print(fruits)

['manzana', 'banana', 'piña', 'manzana']

## List length

In [7]:
print(len(fruits))

4

## List Items - Data types
List items can be of any data type:

In [11]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, 4, 'hi']

In [12]:
type(list3)

list

## The list() constructor 
It is also possible to use the list() constructor when creating a new list

In [16]:
lstC = list(('hola','cómo','tas','?'))
print(lstC)

['hola', 'cómo', 'tas', '?']

# Collections (Arrays)
There are **four** collection data types in the Python programming language:

* **List** 
* **Tuple** is a collection which is **ordered** and **unchangeable**. **Allows duplicate** members.
* **Set** is a colllection which is **unordered**,**unchangable** and **unindexed**. **No duplicate** members.
* **Dictionary** is a collection which is **ordered** and **changeable**. **No duplicate** members

## Access list items

In [19]:
lst = ['cherry','orange','piña']
print(lst[1:])

['orange', 'piña']

## Negative Indexing

In [22]:
print(lst[-1:])

['piña']

In [23]:
print(lst[-1])

piña

## Range of indexes

In [26]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [29]:
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [30]:
print(thislist[:3])

['apple', 'banana', 'cherry']

In [31]:
print(thislist[1:])

['banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [33]:
print(thislist[-5:-2])

['cherry', 'orange', 'kiwi']

In [42]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if 'guanabana' in fruits:
    print('Yes,"guanabana" in the fruits list')
else:
    print('No,"guanabana" isn\'t in fruits list')

No,"guanabana" isn't in fruits list

## Change item value

In [68]:
fruits = ["apple", "banana", "cherry", "orange", "mango"]

In [69]:
fruits[0] = 'guayaba'
print(fruits)

['guayaba', 'banana', 'cherry', 'orange', 'mango']

## Change a range of item values

In [70]:
fruits.append('new')
print(fruits)

['guayaba', 'banana', 'cherry', 'orange', 'mango', 'new']

In [71]:
fruits[1:4] = ['piña','manzana','watermelon']
print(fruits)

['guayaba', 'piña', 'manzana', 'watermelon', 'mango', 'new']

In [72]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] =  ["watermelon"]
print(thislist)

['apple', 'watermelon']

## Insert items
To insert a new list item, **without replacing** any of the existing values, we can use the **insert()** method.

In [73]:
print(fruits)

['guayaba', 'piña', 'manzana', 'watermelon', 'mango', 'new']

In [74]:
fruits.insert(1,'inserted')
print(fruits)

['guayaba', 'inserted', 'piña', 'manzana', 'watermelon', 'mango', 'new']

## Append items
To add an item to the **end** of the list, use the append() method:

In [76]:
thislist = ["apple", "banana", "cherry"]
thislist.append("appended")
print(thislist)

['apple', 'banana', 'cherry', 'appended']

## Extend List
To append elements from another list to the current list, use the extend() method

In [77]:
print(thislist)

['apple', 'banana', 'cherry', 'appended']

In [79]:
chiles = ['manzano','guajillo']
chiles.extend(thislist)
print(chiles)

['manzano', 'guajillo', 'apple', 'banana', 'cherry', 'appended']

## Add any iterable
The extend() you can add any iterable object (tuples, sets, dictionaries etc.)

In [80]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## Remove specified item.
The **remove()** method removes the specified item.

In [83]:
print(thislist)
thislist.remove('kiwi')
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']
['apple', 'banana', 'cherry', 'orange']

## Remove specified index.
**pop()**

In [87]:
print(thislist)
thislist.pop(0)
print(thislist)

['apple', 'banana', 'cherry', 'orange']
['banana', 'cherry', 'orange']

In [88]:
print(thislist)
thislist.pop()
print(thislist)

['banana', 'cherry', 'orange']
['banana', 'cherry']

The **del** keyword also removes the specified index:

In [91]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely.

In [93]:
del thislist

## Clear the list

In [95]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Loop lists
## Loop through a List

In [98]:
lst = ['Katy','Jack','Masha','Nala']
for p in lst:
    print(p)

Katy
Jack
Masha
Nala

## Loop through the Index Numbers
Use the **range()** and **len()** functions to create a suitable iterable.

In [99]:
print(lst)

['Katy', 'Jack', 'Masha', 'Nala']

In [100]:
for i in range(len(lst)):
    print(i)

0
1
2
3

In [101]:
for i in range(len(lst)):
    print(lst[i])

Katy
Jack
Masha
Nala

## Using a while loop

In [102]:
print(lst)

['Katy', 'Jack', 'Masha', 'Nala']

In [103]:
i = 0
while i < len(lst):
    print(lst[i])
    i +=1

Katy
Jack
Masha
Nala

## Lopping using list comprehension

In [109]:
lst = ['Katy', 'Jack', 'Masha', 'Nala']
[print(p) for p in lst]

Katy
Jack
Masha
Nala

[None, None, None, None]

Katy
Jack
Masha
Nala

[None, None, None, None]

# List comprehension

In [118]:
names = ['Annie','Valen','Jackie']

In [119]:
newlst = []

In [121]:
for x in names:
    if 'i' in x:
        newlst.append(x) 
print(newlst)

['Annie', 'Jackie']

Using **list comprehension**:

The condition is like a filter that only accepts the items that valuate to True.


newlist = [expression **for** item **in** iterable **if** condition == True]

In [123]:
newlst = [x for x in names if 'i' in x]
print(newlst)

['Annie', 'Jackie']

In [125]:
fruits = ['mango','uvas','piña','apple']
newlst = [f for f in fruits if f !='apple']
print(newlst)

['mango', 'uvas', 'piña']

The condition is optional and can be omitted:

In [127]:
newlist = [x for x in fruits] 
print(newlist)

['mango', 'uvas', 'piña', 'apple']

## Iterable

You can use the **range()** function to create an iterable:

In [132]:
newlist = [x for x in range(5)]
print(newlist)

[0, 1, 2, 3, 4]

In [133]:
newlist = [x for x in range(10) if x > 2]
print(newlist)

[3, 4, 5, 6, 7, 8, 9]

## Expression

In [135]:
lst = ['woffie','canelo','bingo']

nwList = [x.upper() for x in lst]
print(nwList)

In [139]:
nwList2 = ['oui' for x in lst]
print(nwList2)

['oui', 'oui', 'oui']

In [145]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
nwList3 = [x if x != 'banana' else 'instead of banana' for x in fruits]
print(nwList3)

['apple', 'instead of banana', 'cherry', 'kiwi', 'mango']

# Sort lists
## Sort list alphanumerically
List objects have a sort() method that will sort the list alphanumerically, **ascending, by default**:

In [152]:
fruits = ["apple", "kiwi", "cherry", "melon", "mango","frambuesa"]
fruits.sort()
print(fruits)

['apple', 'cherry', 'frambuesa', 'kiwi', 'mango', 'melon']

In [154]:
numbers = [34,29,90,87.2,87.1,5]
numbers.sort()
print(numbers)

[5, 29, 34, 87.1, 87.2, 90]

## Sort descending
To sort descending, use the keyword argument **reverse = True**:

In [156]:
tropical = ["orange", "mango", "kiwi", "pineapple", "banana"]
tropical.sort(reverse = True)
print(tropical)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [157]:
numbers = [34,29,90,87.2,87.1,5]
numbers.sort(reverse=True)
print(numbers)

[90, 87.2, 87.1, 34, 29, 5]

## Customize sort function
You can also customize your own function by using the keyword argument **key = function**.

The function will return a number that will be used to sort the list (the lowest number first):

**Example**: Sort the list based on how close the number is to 50:

In [163]:
def sortFunc(n):
    return abs(n-50)

lst = [100,50,40,85,48]
lst.sort(key = sortFunc)
print(lst)

[50, 48, 40, 85, 100]

0

**Example**: Sort the list based on how far the number is to 50:

In [166]:
def sortFunc2(n): 
    return abs(n-50)

lst = [100,50,40,85,48]
lst.sort(key=sortFunc2,reverse=True)
print(lst)

[100, 85, 40, 48, 50]

## Case Insensitive sort
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [167]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [168]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

## Reverse order
What if you want to reverse the order of a list, regardless of the alphabet?

In [169]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# Copy lists
## Copy a list
You cannot copy a list simply by typing **list2 = list1**, because: **list2** will only be a reference to **list1**, and changes made in **list1** will automatically also be made in **list2**.

There are ways to make a copy, one way is to use the built-in List method **copy()**.

In [173]:
tropical = ["apple", "banana", "cherry"]
mylst = tropical.copy()
print(mylst)

['apple', 'banana', 'cherry']

In [174]:
tropical.pop()
print(tropical)

['apple', 'banana']

In [175]:
print(mylst)

['apple', 'banana', 'cherry']

Another way to make a copy is to use the built-in method **list()**.

In [179]:
thislist = ["apple", "banana", "cherry"]
myCopy = list(thislist)

In [180]:
thislist.insert(2,'coco')
print(thislist)

['apple', 'banana', 'coco', 'cherry']

In [181]:
print(myCopy)

['apple', 'banana', 'cherry']

## Join Lists
### Join 2 lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the **+** operator.

In [192]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Another way to join two lists is by **appending** all the items from list2 into list1, one by one:

In [193]:
for element in list2 :
    list1.append(element)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [194]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list1.append(list2)
print(list1)

['a', 'b', 'c', [1, 2, 3]]

Or you can use the **extend()** method, which purpose is to add elements from one list to another list

In [195]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# List Methods
https://www.w3schools.com/python/python_lists_methods.asp