In [2]:
t = ("apple", "banana", "cherry")
t2 = ("apple", "banana", "cherry", "apple", "cherry")

## Tuple length

In [3]:
print(len(t2))

5

## Create tuple with one item
To create a tuple with only one item, you have to **add a comma after the item**, otherwise Python will not recognize it as a tuple.

In [5]:
tOne = ('appel',)
print(type(tOne))

<class 'tuple'>

In [7]:
notTuple = ('appel')
print(type(notTuple))

<class 'str'>

## Data types

In [9]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = ("abc", 34, True, 40, "male")

## tuple() constructor

In [11]:
t = tuple(('ana','diana','yeye'))
print(t)

('ana', 'diana', 'yeye')

# Access tuple items

In [13]:
print(t[2])

yeye

# Update tuples
## Change tuple values
Once a tuple is created, you cannot change its values. Tuples are **unchangeable**, or **immutable** as it also is called.

But there is a workaround. You can **convert the tuple into a list**, change the list, **and convert the list back into a tuple**.

In [22]:
x = ("apple", "banana", "cherry")
y = list(x)
y[2] = 'piña'
x = tuple(y)
print(x)

('apple', 'banana', 'piña')

## Add items

Since tuples are immutable, they do not have a build-in **append()** method, but there are other ways to add items to a tuple.

1. Convert into a list:

In [23]:
y = list(x)
y.append('coco')
x = tuple(y)
print(x)

('apple', 'banana', 'piña', 'coco')

2. Add tuple to a tuple.

In [30]:
thistuple = ("apple", "banana", "cherry")
y = ('orange',)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

## Remove items

In [31]:
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [32]:
y = list(thistuple)
y.remove('banana')
thistuple = tuple(y)
print(thistuple)

('apple', 'cherry', 'orange')

# Unpack tuples
When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [33]:
 fruits = ("apple", "banana", "cherry")

But, in Python, we are also allowed to extract the values back into variables. This is called **"unpacking"**:

In [35]:
(green,yellow,red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

## Using asterisk *
Example:

In [36]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green,*yellow,red) = fruits

In [37]:
print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [39]:
(green,yellow,*red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

# Join tuples
## Multiply tuples
If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [40]:
fruits = ("apple", "banana", "cherry")
mTuple = fruits*2
print(mTuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Tuple methods
Python has two built-in methods that you can use on tuples.
* **count()**	Returns the number of times a specified value occurs in a tuple

* **index()**	Searches the tuple for a specified value and returns the position of where it was found

In [41]:
mTuple.count('apple')

2

In [42]:
fruits = ("apple", "banana", "cherry")
fruits.index('banana')

1