In [1]:
myset = {"apple", "banana", "cherry"}

## Duplicates not allowed

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

## The set() Constructor

In [10]:
myset = set(('katrushka','katy','adelita'))
print(myset)

{'adelita', 'katy', 'katrushka'}

## Change Items


Once a set is created, you cannot change its items, but you can add new items.

In [11]:
l = list(myset)
print(l) 
l[1] = 'gaty'
myset = set(l) 
print(myset)

['adelita', 'katy', 'katrushka']
{'adelita', 'katrushka', 'gaty'}

## Add set items

In [13]:
print(myset)

{'adelita', 'katrushka', 'gaty'}

In [14]:
myset.add('katy')
print(myset)

{'adelita', 'katy', 'katrushka', 'gaty'}

## Update sets
To add items from another set into the current set, use the **update()** method.

In [17]:
myset = {'red','green','blue'}
sColors = {'cyan','yellow'}
myset.update(sColors)
print(myset)

{'red', 'cyan', 'blue', 'yellow', 'green'}

## Add Any Iterable
The object in the **update()** method **does not have to be a set, it can be any iterable object** (tuples, lists, dictionaries etc.).

In [18]:
print(myset)

{'red', 'cyan', 'blue', 'yellow', 'green'}

In [19]:
setFig = ['square','circle','triangle']

In [20]:
myset.update(setFig)
print(myset)

{'circle', 'red', 'square', 'cyan', 'blue', 'triangle', 'yellow', 'green'}

# Remove set items
## Remove Item
To remove an item in a set, use the **remove()**, or the **discard()** method.

In [36]:
myset = {'red', 'square', 'blue', 'triangle', 'yellow', 'green','cyan'}



**Note: If the item to remove does not exist, discard() will NOT raise an error.**

In [37]:
myset.discard('circle')
print(myset)

{'triangle', 'square', 'yellow', 'cyan', 'red', 'blue', 'green'}

In [38]:
myset.discard('circle')
print(myset)

{'triangle', 'square', 'yellow', 'cyan', 'red', 'blue', 'green'}

In [39]:
myset.remove('cyan')
print(myset)

{'triangle', 'square', 'yellow', 'red', 'blue', 'green'}

In [40]:
myset.remove('rosa')
print(myset)

KeyError: 'rosa'

You can also use the **pop()** method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

In [41]:
print(myset)

{'triangle', 'square', 'yellow', 'red', 'blue', 'green'}

The **clear()** method empties the set:

In [42]:
myset.clear()
print(myset)

set()

# Join sets
There are several ways to join 2 or more sets in Python.

The **union()** method returns a new set with all items from both sets:

In [45]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'c', 'a'}

The **update()** method inserts the items in set2 into set1:

In [46]:
set2.update(set1)
print(set2)

{1, 2, 3, 'b', 'c', 'a'}



**Note: Both union() and update() will exclude any duplicate items.**

In [49]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}  
x.update(y) 
print(x)

{'banana', 'microsoft', 'google', 'cherry', 'apple'}

## Keep ONLY the Duplicates
The **intersection_update()** method will keep only the items that are present in both sets.

In [50]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)

In [51]:
print(x)

{'apple'}

The **intersection()** method will return a new set, that only contains the items that are present in both sets.

In [55]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection(y)
print(x.intersection(y))
print(x)

{'apple'}
{'banana', 'cherry', 'apple'}

In [56]:
z = x.intersection(y)
print(z)

{'apple'}

## Keep All, But NOT the Duplicates
The **symmetric_difference_update()** method will keep only the elements that are NOT present in both sets.

In [57]:
x.symmetric_difference_update(y)
print(x)

{'banana', 'google', 'microsoft', 'cherry'}

In [59]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'banana', 'google', 'microsoft', 'cherry'}

# Python - Set Methods

https://www.w3schools.com/python/python_sets_methods.asp